.backgroundimage{
    background-image: url("https://wallpapers.com/images/hd/high-resolution-red-background-2560-x-1440-3uovjr18y5vyhci5.jpg");
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border:black;
    
}
.App {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: green;
}
.box{
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    height: 70%;
    width: 30vw;
    border-radius: 20px;
    padding: 2%;
    
}
 .smooth{
    transition:  0.1s ease-in-out width;
 }