/* SocialLinks.css */

.icons {
 
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: visible;
  }
  
  @keyframes wave {
    0% {
      box-shadow: 0 0 0 0 #3b82f6;
    }
    100% {
      box-shadow: 0 0 0 20px rgba(10, 10, 194, 0);
    }
  }
  
  .icons:hover::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 40px; /* Adjust the initial size */
    height: 40px; /* Adjust the initial size */
    background-color: transparent;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: wave 1.5s ease-out infinite;
    background-color: rgba(10, 41, 194, 0.4);
  }
  