.Card {
    transition: box-shadow 2s ease-in;  /* Apply transition to box-shadow */
    border-radius: 20px;  /* Uncommented and will apply a rounded border */
}

.Card:hover {
    box-shadow: 0px 10px 20px #3b82f6;
}