
.slider{
    /* height: 100vh; */
    border:1px solid red
}
.slider::-webkit-scrollbar {
    width: 8px; /* width of the scrollbar */
  }
  
  .slider::-webkit-scrollbar-track {
    background-color: transparent; /* make scrollbar track transparent */
  }
  .slider::-webkit-scrollbar-thumb {
    background-color: rgb(58, 55, 55) !important; /* color of the scroll thumb */
    border-radius: 2px; /* roundness of the thumb */
    height: 2px !important;
  }